
    <!-- <div class="row mb-3">
        <div class="col ">
            <div class="card">
                <div class="card-header">
                    Select Component (<strong>Custom pc</strong>)
                </div>
                <div class="card-body">
                        <div >
                                <div ngbDropdown class="d-inline-block">
                                  <button class="btn btn-outline-primary" id="dropdownBasic1"  ngbDropdownToggle >Select {{ques[count]}}</button> {{que.qu1}} -->
                                  <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1" [(ngModel)]="answ" ngDefaultControl>
                                    <button ngbDropdownItem *ngFor="let ans of answer" [(ngModel)]="answe" ngDefaultControl [value]="ans" (click)="onSelect(ans)">{{ans}}</button>                                  
                                  </div> -->
                                  <!-- <br>
                                  <div class="row" id="ok">
                                        <div class="col-8 " id="ok">
                                          <br>      
                                        </div>
                                        
                                        <div class="col-4" id="ok">    
                                                   <button class="btn btn-outline-primary" (click)="onClick()">Next</button>
                                        </div>
                                  </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Custom Pc Build (<strong>Selected Parts</strong>)
                    </div>
                    <div class="card-body">
                        dsjjfsd -->
                        <!-- <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" [value]="1"> Left (pre-checked)
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" value="middle"> Middle
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton type="radio" [value]="false"> Right
                            </label>
                        </div> -->
                        <!-- <div class="alert alert-info mb-0">
                            <strong>Selected Value: </strong>{{model}} -->
                        <!-- </div> -->
                    <!-- </div>
                </div>
            </div>
    </div>
    <div class="row mb-3">
        <div class="col">
                <a class="btn rounded-btn" >Ok</a>
                <ngb-progressbar type="success" [value]="40"></ngb-progressbar> 
        </div> 
        </div> -->
<ngb-accordion [closeOthers]="true" > 
    <ngb-panel id="1" title="Select Pc Parts" >
    <ng-template ngbPanelContent>       
    <div>
    <ngb-accordion [closeOthers]="true"  (panelChange)="beforeChange($event)" >
            <ngb-panel id="CPU" title="{{titlearr[0]}}" >
              <ng-template ngbPanelContent>
                  <div class="card mb-3">
                      <table class="card-body table table-hover">
                          <thead>
                              <tr>
                                <th></th>
                                <th scope="col">Productname</th>
                                <th scope="col">Brand</th>
                                <th scope="col">ModelNumber</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>                          
                              </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category);">
                                      <th scope="row">{{ i + 1 }}</th>
                                      <td>{{product.productName}}</td> 
                                      <td>{{product.brand}}</td>
                                      <td>{{product.modelNumber}}</td>
                                      <td>{{product.price}}</td>
                                      <td>{{product.description}}</td> 
                                  </tr>
                              </tbody>
                      </table>
                  </div>
                              <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                         
              </ng-template>
            </ngb-panel>
            <ngb-panel id="Motherboard" title="{{titlearr[1]}}" >
              <ng-template ngbPanelContent >
                  <div class="card mb-3">
                      <table class="card-body table table-hover">
                          <thead>
                              <tr>
                                <th></th>
                                <th scope="col">Productname</th>
                                <th scope="col">Brand</th>
                                <th scope="col">ModelNumber</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>                          
                              </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category)">
                                      <th scope="row">{{ i + 1 }}</th>
                                      <td>{{product.productName}}</td> 
                                      <td>{{product.brand}}</td>
                                      <td>{{product.modelNumber}}</td>
                                      <td>{{product.price}}</td>
                                      <td>{{product.description}}</td> 
                                  </tr>
                              </tbody>
                      </table>
                  </div>
                              <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="RAM" title="{{titlearr[2]}}" >
              <ng-template ngbPanelContent>
                  <div class="card mb-3">
                      <table class="card-body table table-hover">
                          <thead>
                              <tr>
                                <th></th>
                                <th scope="col">Productname</th>
                                <th scope="col">Brand</th>
                                <th scope="col">ModelNumber</th>
                                <th scope="col">Price</th>
                                <th scope="col">Description</th>                          
                              </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category);">
                                      <th scope="row">{{ i + 1 }}</th>
                                      <td>{{product.productName}}</td> 
                                      <td>{{product.brand}}</td>
                                      <td>{{product.modelNumber}}</td>
                                      <td>{{product.price}}</td>
                                      <td>{{product.description}}</td> 
                                  </tr>
                              </tbody>
                      </table>
                  </div>
                              <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="Harddisk" title={{titlearr[3]}} >
                <ng-template ngbPanelContent>
                    <div class="card mb-3">
                        <table class="card-body table table-hover">
                            <thead>
                                <tr>
                                  <th></th>
                                  <th scope="col">Productname</th>
                                  <th scope="col">Brand</th>
                                  <th scope="col">ModelNumber</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Description</th>                          
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category);">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td>{{product.productName}}</td> 
                                        <td>{{product.brand}}</td>
                                        <td>{{product.modelNumber}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.description}}</td> 
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                                <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                </ng-template>
            </ngb-panel>
            <ngb-panel id="Keyboard" title="{{titlearr[4]}}"  >
                  <ng-template ngbPanelContent>
                      <div class="card mb-3">
                          <table class="card-body table table-hover">
                              <thead>
                                  <tr>
                                    <th></th>
                                    <th scope="col">Productname</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">ModelNumber</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Description</th>                          
                                  </tr>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category);">
                                          <th scope="row">{{ i + 1 }}</th>
                                          <td>{{product.productName}}</td> 
                                          <td>{{product.brand}}</td>
                                          <td>{{product.modelNumber}}</td>
                                          <td>{{product.price}}</td>
                                          <td>{{product.description}}</td> 
                                      </tr>
                                  </tbody>
                          </table>
                      </div>
                                  <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                  </ng-template>
            </ngb-panel>
            <ngb-panel id="Mouse" title={{titlearr[5]}} >
                    <ng-template ngbPanelContent>
                        <div class="card mb-3">
                            <table class="card-body table table-hover">
                                <thead>
                                    <tr>
                                      <th></th>
                                      <th scope="col">Productname</th>
                                      <th scope="col">Brand</th>
                                      <th scope="col">ModelNumber</th>
                                      <th scope="col">Price</th>
                                      <th scope="col">Description</th>                          
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category);">
                                            <th scope="row">{{ i + 1 }}</th>
                                            <td>{{product.productName}}</td> 
                                            <td>{{product.brand}}</td>
                                            <td>{{product.modelNumber}}</td>
                                            <td>{{product.price}}</td>
                                            <td>{{product.description}}</td> 
                                        </tr>
                                    </tbody>
                            </table>
                        </div>
                                    <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                    </ng-template>
            </ngb-panel>
            <ngb-panel id="Display" title={{titlearr[6]}} >
                <ng-template ngbPanelContent>
                    <div class="card mb-3">
                        <table class="card-body table table-hover">
                            <thead>
                                <tr>
                                  <th></th>
                                  <th scope="col">Productname</th>
                                  <th scope="col">Brand</th>
                                  <th scope="col">ModelNumber</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Description</th>                          
                                </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of product ;index as i"(click)="rowSelected(product,product.category);">
                                        <th scope="row">{{ i + 1 }}</th>
                                        <td>{{product.productName}}</td> 
                                        <td>{{product.brand}}</td>
                                        <td>{{product.modelNumber}}</td>
                                        <td>{{product.price}}</td>
                                        <td>{{product.description}}</td> 
                                    </tr>
                                </tbody>
                        </table>
                    </div>
                                <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
                </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>  
    </ng-template>
    </ngb-panel>
    <ngb-panel id="2" title="Select Address" >
            <ng-template ngbPanelContent>
                <div>
                 <form [formGroup]="addressForm" >
                                <div class="form-group">
                                  <div class="row">
                                    <div class="col-md-2">
                                      <label for="address" style="font-size: medium;" >Address:</label>
                                    </div>
                                    <div class="col-md-6">
                                      <textarea formControlName="address"
                                      rows="5" placeholder="Enter Your Address" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"></textarea>
                                    </div>
                                    <div class="col-md-4">
                                      <span style="font-weight: bold;color:darkslategrey;" *ngIf="!addressForm.controls['address'].valid&&addressForm.controls['address'].dirty">
                                        <span *ngIf="addressForm.controls.address.errors.required">Address is Required.</span>
                                      </span> 
                                    </div>
                                  </div>
                                  <br>
                                  <button type="button" style="margin-left: 39%;"  class="btn btn-outline-primary" (click)="placeOrder()"><b>Place Order</b></button>
                                </div>   
                </form>
                </div>
            </ng-template>
            <ng-template #letcontent let-modal>
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <p><strong>Order </strong></p>
                    <p>Your Total is :{{totalcalc}}
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="orderFinal()">Order</button>
                  </div>
               
              </ng-template>
    </ngb-panel>
</ngb-accordion>    