  <ngb-tabset class="color:black">
    <ngb-tab title="Show Product"  >
      <ng-template ngbTabContent>
          <form [formGroup]="categoryForm" (ngSubmit)="oncatSubmit()" >
              <div class="form-group">
                <div class="row">
                        <div class="col-md-2">
                          <label for="categoryOption" style="color: lightseagreen;font-size: medium;" ><b>Category:</b></label>
                        </div>
                        <div class="col-md-6">
                          <select type="text" formControlName="categoryOption" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Search Category" (change)="modo($event.target.value)" >
                              <option value="">All</option>
                              <option value="CPU">CPU</option>
                              <option value="Motherboard">Motherboard</option>
                              <option value="RAM">Ram</option>
                              <option value="Harddisk">Harddisk</option>
                              <option value="Keyboard">Keyboard</option>
                              <option value="Mouse">Mouse</option>
                              <option value="Display">Display</option>
                          </select>    
                          </div>
                        <div class="col-md-4">
                            <!-- <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['category'].valid&&inventoryForm.controls['category'].dirty">
                                <span *ngIf="inventoryForm.controls.category.errors.required">Enter Category</span>
                              </span> -->
                        </div>
                </div>
              </div>
          </form>   
          <br>      
        <div class="col-md-6">
        Search: <input class="form-control ml-2" type="text" [formControl]="filter" /> <!--(input)="filtersearch()"--> 
        <br>
                     
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th scope="col">productname</th>
            <th scope="col">brand</th>
            <th scope="col">ModelNumber</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let tproduct of product ;index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <!-- <td>{{product.productName}}</td> -->
                  <!-- <td>{{product.brand}}</td>
                  <td>{{product.modelNumber}}</td>
                  <td>{{product.price}}</td>
                  <td>{{product.quantity}}</td>
                  <td>{{product.description}}</td> -->
                  <td><ngb-highlight [result]="tproduct.productName" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="tproduct.brand" [term]="filter.value"></ngb-highlight></td>
                  <td><ngb-highlight [result]="tproduct.modelNumber" ></ngb-highlight></td>
                  <td><ngb-highlight [result]="tproduct.price" ></ngb-highlight></td>
                  <td><ngb-highlight [result]="tproduct.quantity"></ngb-highlight></td>
                  <td><ngb-highlight [result]="tproduct.description" ></ngb-highlight></td>                                
                  <!-- <td><button type="button" class="btn btn-warning" (click)="getNavigation('update', product.p_id)">Edit</button></td> -->
                  <td><button class="btn  btn-outline-primary" (click)="open(content,tproduct)">Edit</button></td>
                  <!-- <td><button type="button" class="btn btn-danger"(click)="deleteProduct(product.productId)">Delete</button></td> -->
                  <td><button class="btn  btn-outline-danger" (click)="openlet(letcontent,tproduct)">Delete</button></td>
                </tr>
          </tbody>
          </table>
          <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
          </div>
          <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Product Details update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form [formGroup]="updateForm" ngNativeValidate >
                      <div class="form-group">
                        <div class="row">
                          
                          <div class="col-md-2">
                            <label for="updateName" style="color: lightseagreen;font-size: medium;" ><b>Product Name:</b></label>
                          </div>
                          <div class="col-md-6">
                            <input type="text" formControlName="updateName" placeholder="Product Name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                          </div>
                          <div class="col-md-4">
                            <span style="font-weight: bold;color: red;" *ngIf="!updateForm.controls['updateName'].valid && updateForm.controls['updateName'].dirty">
                              <span *ngIf="updateForm.controls.updateName.errors.required">Product Name is Required.</span>
                            </span> 
                          </div>
                        </div>
                        <br>
                        
                        <div class="row">
                          <div class="col-md-2">
                            <label for="updatebrand" style="color: lightseagreen;font-size: medium;" ><b>Product Brand</b></label>
                          </div>
                          <div class="col-md-6">
                            <input type="text" formControlName="updatebrand" placeholder="Product Brand Name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                          </div>
                        
                          
                        </div>
                        <br>
                        
                        <div class="row">
                          <div class="col-md-2">
                            <label for="updatemodelNumber" style="color: lightseagreen;font-size: medium;" ><b>Product Model Number</b></label>
                          </div>
                          <div class="col-md-6">
                            <input type="text" formControlName="updatemodelNumber" placeholder="Product Model Number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                          </div>
                          </div>
                        
                        <br>
                        
                        <div class="row">
                          <div class="col-md-2">
                            <label for="updatecategory" style="color: lightseagreen;font-size: medium;" ><b>Category:</b></label>
                          </div>
                          <div class="col-md-6">
                            <select type="text" required formControlName="updatecategory" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Category" required>
                                <option value="CPU">CPU</option>
                                <option value="Motherboard">Motherboard</option>
                                <option value="RAM">Ram</option>
                                <option value="Harddisk">Harddisk</option>
                                <option value="Keyboard">Keyboard</option>
                                <option value="Mouse">Mouse</option>
                                <option value="Display">Display</option>
                            </select>    
                            </div>
                          <div class="col-md-4">
                              <!-- <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['category'].valid&&inventoryForm.controls['category'].dirty">
                                  <span *ngIf="inventoryForm.controls.category.errors.required">Enter Category</span>
                                </span> -->
                          </div>
                        </div>                              
                       <br>
                        
                       <div class="row">
                          <div class="col-md-2">
                            <label for="updateprice" style="color: lightseagreen;font-size: medium;" ><b>Price:</b></label>
                          </div>
                          <div class="col-md-6">
                            <input type="number" name="updateprice" formControlName="updateprice" placeholder="Price" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" required>
                          </div>
                          </div>
                        
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                              <label for="updatequantity" style="color: lightseagreen;font-size: medium;" ><b>Quantity:</b></label>
                            </div>
                            <div class="col-md-6">
                              <input type="number" required formControlName="updatequantity" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter quantity">
                            </div>
                          </div>
                       
                        <div class="row">
                          <div class="col-md-2">
                            <label for="updatedescription" style="color: lightseagreen;font-size: medium;" ><b>Description:</b></label>
                          </div>
                          <div class="col-md-6">
                            <input type="text" formControlName="updatedescription" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter description" required>
                          </div>
                          </div>
                        
                        <br>
                      </div>
                    </form>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn  btn btn-danger" (click)="updateProduct();modal.dismiss('')">Update</button>
              </div>
          </ng-template>
          
          <ng-template #letcontent let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <p><strong>Are you sure you want to delete </strong></p>
                  <p>All information associated to this product will be permanently deleted.
                  <span class="text-danger">This operation can not be undone.</span>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                  <button type="button" class="btn btn-danger" (click)="deleteProduct();modal.dismiss('')">Delete</button>
                </div>
             
            </ng-template>
            
            
      </ng-template>
    </ngb-tab>
    <ngb-tab  id ="2" title="Show Orders">
      <ng-template ngbTabContent><table class="table table-striped">
        <thead>
        <tr>
          <th></th>
          <th scope="col">Order No.</th>
          <th scope="col">Email</th>
          <th scope="col">Order Date</th>
          <th scope="col">Total</th>
          <th scope="col">Address</th>
          <th scope="col">Description</th>
          <th scope="col">View Details</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let torder of order ;index as i">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{torder.orderID}}</td>
                <td>{{torder.email}}</td>
                <td>{{torder.doo}}</td>
                <td>{{torder.total}}</td>
                <td>{{torder.address}}</td>                      
                <!-- <td><button type="button" class="btn btn-warning" (click)="getNavigation('update', product.p_id)">Edit</button></td> -->
                <td><button class="btn  btn-outline-primary" (click)="openorder(ordercontent,torder.products)">Show</button></td>
              </tr>
        </tbody>
        </table>
        <ngb-pagination [collectionSize]="order.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
        <ng-template #ordercontent let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Order items</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th scope="col">productname</th>
                <th scope="col">brand</th>
                <th scope="col">ModelNumber</th>
                <th scope="col">Price</th>
                <th scope="col">Description</th>
              </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let oproduct of orderproduct ;index as i">
                      <th scope="row">{{ i + 1 }}</th>
                      <td>{{oproduct.productName}}</td>
                      <td>{{oproduct.brand}}</td>
                      <td>{{oproduct.modelNumber}}</td>
                      <td>{{oproduct.price}}</td>
                      <td>{{oproduct.description}}</td>
                  </tr>    
              </tbody>
              </table>
            </div>  
        </ng-template>
      </ng-template>  
    </ngb-tab>
    <ngb-tab title="Add to Inventory"  id="3">
      <ng-template ngbTabTitle></ng-template>
      <ng-template ngbTabContent>
        <br>
          <form [formGroup]="inventoryForm" >
              <div class="form-group">
                <div class="row">
                  
                  <div class="col-md-2">
                    <label for="productName" style="color: lightseagreen;font-size: medium;" ><b>Product Name:</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" formControlName="productName" placeholder="Product Name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="col-md-4">
                    <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['productName'].valid&&inventoryForm.controls['productName'].dirty">
                      <span *ngIf="inventoryForm.controls.productName.errors.required">Product Name is Required.</span>
                    </span> 
                  </div>
                </div>
                <br>
                
                <div class="row">
                  <div class="col-md-2">
                    <label for="brand" style="color: lightseagreen;font-size: medium;" ><b>Product Brand</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" formControlName="brand" placeholder="Product Brand Name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="col-md-4">
                      <span style="font-weight: bold;color: red;"  *ngIf="!inventoryForm.controls['brand'].valid&&inventoryForm.controls['brand'].dirty">
                          <span *ngIf="inventoryForm.controls.brand.errors.required">Product Brand is Required.</span>
                        </span>
                  </div>
                </div>
                <br>
                
                <div class="row">
                  <div class="col-md-2">
                    <label for="modelNumber" style="color: lightseagreen;font-size: medium;" ><b>Product Model Number</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" formControlName="modelNumber" placeholder="Product Model Number" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="col-md-4">
                      <span style="font-weight: bold;color: red;"  *ngIf="!inventoryForm.controls['modelNumber'].valid&&inventoryForm.controls['modelNumber'].dirty">
                          <span *ngIf="inventoryForm.controls.modelNumber.errors.required">Product Brand is Required.</span>
                        </span>
                  </div>
                </div>
                <br>
                
                <div class="row">
                  <div class="col-md-2">
                    <label for="category" style="color: lightseagreen;font-size: medium;" ><b>Category:</b></label>
                  </div>
                  <div class="col-md-6">
                    <select type="text" formControlName="category" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter Category" required>
                        <option value="CPU">CPU</option>
                        <option value="Motherboard">Motherboard</option>
                        <option value="RAM">Ram</option>
                        <option value="Harddisk">Harddisk</option>
                        <option value="Keyboard">Keyboard</option>
                        <option value="Mouse">Mouse</option>
                        <option value="Display">Display</option>
                    </select>    
                    </div>
                  <div class="col-md-4">
                      <!-- <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['category'].valid&&inventoryForm.controls['category'].dirty">
                          <span *ngIf="inventoryForm.controls.category.errors.required">Enter Category</span>
                        </span> -->
                  </div>
                </div>                              
               <br>
                
               <div class="row">
                  <div class="col-md-2">
                    <label for="price" style="color: lightseagreen;font-size: medium;" ><b>Price:</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" name="price" formControlName="price" placeholder="Price" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="col-md-4">
                      <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['price'].valid&&inventoryForm.controls['price'].dirty">
                          <span *ngIf="inventoryForm.controls.price.errors.required">Product Price is Required.</span>
                        </span>
                  </div>
                </div>
                <br>
               
                <div class="row">
                  <div class="col-md-2">
                    <label for="quantity" style="color: lightseagreen;font-size: medium;" ><b>Quantity:</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="number" formControlName="quantity" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter quantity">
                  </div>
                  <div class="col-md-4">
                      <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['quantity'].valid&&inventoryForm.controls['quantity'].dirty">
                          <span *ngIf="inventoryForm.controls.quantity.errors.required">Enter Total Quantity</span>
                        </span>
                  </div>
                </div>
                <br>
               
                <div class="row">
                  <div class="col-md-2">
                    <label for="description" style="color: lightseagreen;font-size: medium;" ><b>Description:</b></label>
                  </div>
                  <div class="col-md-6">
                    <input type="text" formControlName="description" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter description">
                  </div>
                  <div class="col-md-4">
                      <span style="font-weight: bold;color: red;" *ngIf="!inventoryForm.controls['description'].valid&&inventoryForm.controls['description'].dirty">
                          <span *ngIf="inventoryForm.controls.description.errors.required">Enter Description</span>
                        </span>
                  </div>
                </div>
                <br>
              </div>
              <button type="button" style="margin-left: 39%;"  class="btn btn-outline-success" (click)="AddInventory()"><b>Order Inventory</b></button>
            </form>
<!-- [disabled]="!inventoryForm.valid" in button -->
      </ng-template>
    </ngb-tab>
    <ngb-tab id="4" title="Show Messages">
      <ng-template NgbTabContent>
        <table class="table table-striped">
          <thead>
          <tr>
            <th></th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">MobileNo</th>
            <th scope="col">Message</th>
          </tr>
          </thead>
          <tbody>
              <tr *ngFor="let tmessage of contactmessage ;index as i">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{tmessage.name}}</td>
                  <td>{{tmessage.email}}</td>
                  <td>{{tmessage.phone}}</td>
                  <td>{{tmessage.message}}</td>                           
                </tr>
          </tbody>
          </table>
          <ngb-pagination [collectionSize]="product.length" [(page)]="page" [pageSize]="pageSize"></ngb-pagination>
          </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>
