<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Home' }}</span>
        </a>
        <a [routerLink]="['/custompc']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Custome Build Pc'  }}</span>
        </a>
        <a [routerLink]="['/prepc']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Pre Configured Pc'  }}</span>
        </a>
        <a [routerLink]="['/accessories']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Accessories'  }}</span>
        </a>
        <!-- <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element ' }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid'  }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component'  }}</span>
        </a> -->
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu'  }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu'  }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu'  }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <!-- <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
        </div> -->
        </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-{{collapsed?'right':'left'}}"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' }}</span>
    </div>
</nav>
