<div class="row mb-3">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                       
                </div>
            </div>
            
        </div>
        <div class="col col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <!-- Custom Pc Build (<strong>Selected Parts</strong>) -->
                    </div>
                    <div class="card-body">
                        dsjjfsd
                       
                 
                    </div> 
                </div>
        </div>
</div>
<div class="row mb-3">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                       
                </div>
            </div>
            
        </div>
        <div class="col col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <!-- Custom Pc Build (<strong>Selected Parts</strong>) -->
                    </div>
                    <div class="card-body">
                        dsjjfsd
                       
                 
                    </div> 
                </div>
        </div>
</div>
    
       
   