<div >
<div fxLayout="row wrap" fxLayout.xs="column wrap" >
    <div *ngFor="let product of listProduct;">
        <div >
            <div class="card">
                <div class="card-header">
                    Pre-Build Pc
                </div>
                <div class="card-body">
                       <img src="../assets/images/Custom.jpg" height="200" >
                       <p class="price">$1900.99</p>
                       <p>Some text about the pc..</p>
                       <p><button>Add to Cart</button></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>        
        <!-- <div class="col col-sm-6">
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    <div class="card-body">
                        dsjjfsd
                       
                 
                    </div> 
                </div>
        </div>
</div>
<div class="row mb-3">
        <div class="col col-sm-6">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                       
                </div>
            </div>
            
        </div>
        <div class="col col-sm-6">
                <div class="card">
                    <div class="card-header">
                        Custom Pc Build (<strong>Selected Parts</strong>) 
                    </div>
                    <div class="card-body">
                        dsjjfsd
                       
                 
                    </div> 
                </div>
        </div>
</div>
    
       
    -->